# Ignore node_modules
node_modules/

# Ignore package-lock.json
package-lock.json

# Ignore les logs générés par npm
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore le dossier de build pour des outils comme React
build/

# Ignore les fichiers IDE (VS Code, etc.)
.vscode/

# Ignore les fichiers de configuration de l'éditeur (Sublime Text, etc.)
.idea/
