body {
  font-family: 'Comic Sans MS', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('nigel-hoare-MrhsQ3nh8fM-unsplash.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: orange;
  text-shadow:
    2px 2px 0px yellow,  
    -2px -2px 0px yellow,  
    2px -2px 0px yellow,   
    -2px 2px 0px yellow,  
    3px 0px 0px yellow,
    -3px 0px 0px yellow,   
    0px 3px 0px yellow,  
    0px -3px 0px yellow; 
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}

button {
  padding: 30px 60px;
  background-color: yellow;
  font-size: 2em;
  color: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #FF4500;
}

p {
  font-size: 2em;
  margin-top: 20px;
}